BASE_URL=https://www.sport-express.ru
# For local runs you can switch:
# BASE_URL=http://www.sport-express.env0
# BASE_URL=http://www.sport-express.env3
BROWSER=chromium
HEADLESS=true
SLOWMO=0
DEFAULT_TIMEOUT=10000
NAV_TIMEOUT=25000
RETRIES=1
JS_HEALTH_MODE=warn
SE_AUTH_USERNAME=
SE_AUTH_PASSWORD=
